<footer>
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="0.6s">
            <div class="col-md-12">
                <ul>
                    <li><a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/krizsma.gyula" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="btn btn-social-icon btn-twitter" href="https://twitter.com/krizsma" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="btn btn-social-icon btn-mail" href="mailto:krizsma@gmail.com"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    <li><a class="btn btn-social-icon btn-google-plus" href="/client/home/files/KrizsmaGyula_CV_EN.pdf" download><i class="fa fa-file-pdf-o"></i></a></li>
                    @*<li><a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/100472521962560145454/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>*@
                    <li><a class="btn btn-social-icon btn-linkedin" href="https://ch.linkedin.com/pub/gyula-krizsma/42/8a6/6a2" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="btn btn-social-icon btn-github" href="https://github.com/gyulakrizsma" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>