<section id="experiences" class="section-experiences odd">
    <div class="container">
        <!--TITLE-->
        <div class="row wow fadeInLeft" data-wow-duration="0.6s">
            <div class="section-title">
                <h2><span>Experiences</span></h2>
            </div>
            <div class="section-subtitle">
                <span>My journey which started several years ago, and it keeps moving forward</span>
            </div>
        </div>
        <!--TITLE-->
        <!--CIRCLES-->
        <div class="row experience-cont">
            <div class="line-between wow fadeIn" data-wow-duration="0.6s" data-wow-delay="0.6s"></div>

            <div class="col-md-4 col-sd-4">
                <div class="experience-circle wow rollIn" data-wow-duration="0.6s" data-year="2015" data-scrollto="project2015">
                    <span class="date">
                        2015<br />
                        -<br />
                        2013
                    </span>
                    <br />
                    <span class="projects projects-margin">2 Projects</span>
                </div>
            </div>

            <div class="col-md-4 col-sd-4">
                <div class="experience-circle wow rollIn" data-wow-duration="0.6s" data-year="2013" data-scrollto="project2013">
                    <span class="date">
                        2013<br />
                        -<br />
                        2011
                    </span>
                    <br />
                    <span class="projects">
                        2 Projects <br />
                        -<br />
                        MSc
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sd-4">
                <div class="experience-circle wow rollIn" data-wow-duration="0.6s" data-year="2011" data-scrollto="project2011">
                    <span class="date">
                        2011<br />
                        -<br />
                        2009
                    </span>
                    <br />
                    <span class="projects">
                        2 Projects <br />
                        -<br />
                        BSc
                    </span>
                </div>
            </div>

        </div>
        <!--CIRCLES-->
        <!--PROJECTS-->
        <div id="project2015" class="row project2015">
            <div class="col-md-6 col-sd-6">

                <div class="project-box">
                    <h3><a href="https://www.netagenda.com" target="_blank">netagenda AG</a></h3>
                    <p><a href="https://www.netagenda.com" target="_blank">netagenda ag</a> - Senior Software Engineer</p>
                    <p>Being responsible for the Application development process</p>
                    <ul>
                        <li>Lead a small development team of 3 people</li>
                        <li>Introduce and use the Scrum agile software development methodology to manage the team and the project</li>
                        <li>Maintain the legacy Web application</li>
                        <li>Design and implement the new Netagenda online booking system using ASP.NET MVC 5, ASP.NET WebApi, AngularJS, MSSQL Server 2014, Bootstrap</li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6 col-sd-6">

                <div class="project-box">
                    <h3><a href="http://www.ef.com/olt" target="_blank">Education First</a></h3>
                    <p><a href="http://www.ef.com" target="_blank">Education First</a> - Mid-Senior Software Engineer</p>
                    <p>Creating marketing campaigns, designing and implementing Sitecore solutions for the company’s website</p>
                    <ul>
                        <li>Implement an online language test platform, which is the most famous and advertised product of EF and integrate it with EF’s Sitecore CMS</li>
                        <li>Become a certified Sitecore developer</li>
                        <li>Design and create a voting application using ASP.NET MVC 5, AngularJS, MSSQL and Amazon Cloud computing services</li>
                        <li>Implement many campaign sites and integrate them with Sitecore CMS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="project2013" class="row project2013">
            <div class="col-md-6 col-sd-6">

                <div class="project-box">
                    <h3><a href="#">Intranet System</a></h3>
                    <p><a href="http://www.encosoft.hu/" target="_blank">EN-CO Software IT Solutions</a> - Software Engineer</p>
                    <p>Developing an Electronic document handler system for the Attorney General’s Department of Hungary</p>
                    <ul>
                        <li>Implement the system using WCF, Windows Forms, MSSQL</li>
                        <li>Help in the software design process</li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6 col-sd-6">
                <div class="project-box">
                    <h3><a href="#">Intranet System</a></h3>
                    <p><a href="http://www.encosoft.hu/" target="_blank">EN-CO Software IT Solutions</a> - Software Engineer</p>
                    <p>Designing, implementing and deploying an online knowledge base system for Hungary’s leading student cooperation</p>
                    <ul>
                        <li>Coordinate tasks of several people</li>
                        <li>Manage the project from the beginning</li>
                        <li>Plan and create the system using ASP.NET MVC 3, Lucene.NET, MSSQL, jQuery, HTML5, CSS 3.0</li>
                        <li>Meet and communicate with the client</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="project2011" class="row project2011">
            <div class="col-md-6 col-sd-6">
                <div class="project-box">
                    <h3>
                        <a href="http://pixistudio.hu/" target="_blank">Pixi Studio</a>
                    </h3>
                    <p>
                        <a href="http://www.allwin.hu/" target="_blank">ALLWIN Informatics</a> - Software Engineer
                    </p>
                    <p>Developing an online management system for a makeup and mask distributor company called PixiStudio</p>
                    <ul>
                        <li>Learn frontend development using CSS and jQuery to make animations</li>
                        <li>Use Scrum Agile Software Development methodology</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sd-6">
                <div class="project-box">
                    <h3>
                        <a href="http://www.doktor-ok.hu/" target="_blank">Doktor-ok</a>
                    </h3>
                    <p>
                        <a href="http://www.allwin.hu/" target="_blank">ALLWIN Informatics</a> - Software Engineer
                    </p>
                    <p>Doktor-ok is a booking system, which provides an interface for the patients, to book registered doctors, and clinics online</p>
                    <ul>
                        <li>Implement the system using ASP.NET WebForms, MSSQL, CSS 2.0</li>
                        <li>Develop the calendar using Silverlight</li>
                        <li>Win the Microsoft Innovation Award in the category of “Web applications”</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--PROJECTS-->
    </div>
</section>