<section id="interests" class="section-interests odd">
    <div class="container">
        <!--TITLE-->
        <div class="row wow fadeInLeft" data-wow-duration="0.6s">
            <div class="section-title">
                <h2><span>Interests</span></h2>
            </div>
            <div class="section-subtitle">
                <span>What makes me happy when I'm not coding</span>
            </div>
        </div>
        <!--TITLE-->
        <!--INTERESTS-->
        <div class="row">
            <div class="col-md-4 col-sd-4">
                <div class="interest-box wow fadeInLeft" data-wow-duration="0.6s">
                    <div>
                        <i class="glyphicon glyphicon-education interest-icon"></i>
                    </div>
                    <h3>Learn</h3>
                    <span>
                        I strongly believe in continious learning. Especially in the IT industry your knowlegdge always has to be up-to-date.
                        That is why I watch/listen E-learing courses, try out new open source technologies.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sd-4">
                <div class="interest-box wow fadeInDown" data-wow-duration="0.6s">
                    <div>
                        <i class="glyphicon glyphicon-globe icon-table-tennis interest-icon"></i>
                    </div>
                    <h3>Travel</h3>
                    <span>
                        I love to travel around the world, meet new people, discover places where noone was before.
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sd-4">
                <div class="interest-box wow fadeInRight" data-wow-duration="0.6s">
                    <div>
                        <i class="fa fa-futbol-o interest-icon"></i>
                    </div>
                    <h3>Sport</h3>
                    <span>
                        Playing table tennis or just running after a long day always help me to switch my mind completely off.
                        Hiking is one of my favourite activity on the weekends. If the weather allows it then you can usually
                        find me next to a lake or a mountain.
                    </span>
                </div>
            </div>
        </div>
        <!--INTERESTS-->
    </div>
</section>