<section class="section-profile" @*data-stellar-background-ratio="0.5" style="background-position: 50% 0;"*@>
    <div class="dark-overlay profile-cont">
        <!--INTRODUCTION-->
        <div class="container text-center profile-height">
            <div class="row profile-row">
                <div class="profile-pre wow fadeInLeft" data-wow-duration="0.6s">
                    <span class="hi-text">Hi, I'm</span>
                </div>
                <div class="section-title wow fadeInLeft" data-wow-duration="0.6s">
                    <h2><span>Gyula Krizsma</span></h2>
                </div>
                <div class="section-subtitle wow fadeInLeft" data-wow-duration="0.6s">
                    <span>A passionate Software Engineer, <br />who loves to build fast and beautiful applications</span>
                </div>
                <div class="circle-cont">
                    <div class="resume-circle blue wow rollIn" data-wow-duration="0.6s" data-wow-delay="2.4s" data-scrollto="experiences">
                        <span class="date">
                            1
                        </span>
                        <span class="down-arrow glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <div class="resume-circle red wow rollIn" data-wow-duration="0.6s" data-wow-delay="1.8s" data-scrollto="skills">
                        <span class="date">
                            2
                        </span>
                        <span class="down-arrow glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <div class="resume-circle yellow wow rollIn" data-wow-duration="0.6s" data-wow-delay="1.2s" data-scrollto="references">
                        <span class="date">
                            3
                        </span>
                        <span class="down-arrow glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <div class="resume-circle green wow rollIn" data-wow-duration="0.6s" data-wow-delay="0.6s" data-scrollto="interests">
                        <span class="date">
                            4
                        </span>
                        <span class="down-arrow glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--INTRODUCTION-->
    </div>
</section>