<section id="skills" class="section-skills">
    <div class="container">
        <!--TITLE-->
        <div class="row wow fadeInLeft" data-wow-duration="0.6s">
            <div class="section-title">
                <h2><span>Skills</span></h2>
            </div>
            <div class="section-subtitle">
                <span>These are the tools I've learned sofar in order to create awesome Web applications and Mobile Apps</span>
            </div>
        </div>
        <!--TITLE-->
        <!--SKILLS-->
        <div class="row wow fadeInRight" data-wow-duration="0.6s" data-wow-delay="0.6s">
            <div class="skill-type col-md-4">
                <h3><span>Backend</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">ASP.NET MVC</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">ASP.NET Web Api</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">ASP.NET Web Forms</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Microsoft Azure</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Entity Framework</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">WCF</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Node.js</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Django</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-novice">Beginner</div>
                    </div>
                </div>

            </div>

            <div class="skill-type col-md-4">
                <h3><span>Frontend</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">HTML5</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">AngularJS</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">CSS (LESS)</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">jQuery</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Bootstrap</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Responsive Design</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

            </div>

            <div class="skill-type col-md-4">
                <h3><span>Mobile - Desktop</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Windows Apps</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">WPF</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Silverlight</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Windows Phone</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row skills-second-row wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay="1.2s">
            <div class="skill-type col-md-4">
                <h3><span>Database</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">MSSQL</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">PostgreSQL</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">MySQL</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">MongoDB</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Oracle</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>
            </div>
            <div class="skill-type col-md-4">
                <h3><span>Programing language</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">C#</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Javascript</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Java</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Competent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Python</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-intermediate">Intermediate</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">PHP</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-novice">Novice</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">ABAP</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-novice">Novice</div>
                    </div>
                </div>

            </div>
            <div class="skill-type col-md-4">
                <h3><span>More</span></h3>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Sitecore</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Design Patterns</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-proficient">Proficient</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Version Control Systems</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Expert</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">English</div>
                    <div class="col-xs-8 skill-progress">
                        <div>Fluent</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">German</div>
                    <div class="col-xs-8 skill-progress">
                        <div class="skill-competent">Good</div>
                    </div>
                </div>

                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Microsoft Certifications for IT-Professional</div>
                    <div class="col-xs-8 skill-progress">
                        <div>MCP-70536, MCP-70528</div>
                    </div>
                </div>
                <div class="row skill-cont">
                    <div class="col-xs-4 skill-title">Certified Sitecore Developer</div>
                    <div class="col-xs-8 skill-progress">
                        <div>SDF, SND, DOP</div>
                    </div>
                </div>

            </div>
        </div>
        <!--SKILLS-->
    </div>
</section>